<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Indonesian Research Citation Index</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <link rel="stylesheet" type="text/css" href="~/Scripts/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="~/Scripts/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="~/Scripts/js/dataTables.bootstrap.min.js"></script>

</head>
<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">

        <header class="main-header">
            <nav class="navbar navbar-fixed-top">
               <!-- <div class="container"> -->
                    <div class="navbar-header">
                        <a href="../../" class="navbar-brand"><b>IRCI</b></a>
                     </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <form class="navbar-form navbar-left" role="search" method="get" action="/c_search/search">
                            <div class="form-group">
                                <table>
                                    <tr>
                                        <td>
                                            <input autofocus name="keyword" type="text" class="form-control" id="navbar-search-input" style="width:400px;" placeholder="Search">
                                        </td>
                                        <td>
                                            <span class="input-group-btn"><button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button></span>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </form>
                    </div>
                    
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["id"] != null)
                    {

                        <li class="dropdown user user-menu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="~/Content/img/avatar2.png" class="user-image" alt="User Image">
              <span class="hidden-xs">@Session["username"]</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="~/Content/img/avatar2.png" class="img-circle" alt="User Image">

                <p>
                  @Session["username"]
                </p>
              </li>
              <!-- Menu Body -->
              <li class="user-body">
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-left">
                  <a href="#" class="btn btn-default btn-flat">Profile</a>
                </div>
                <div class="pull-right">
                  <a href="/auth/logout" class="btn btn-default btn-flat">Logout</a>
                </div>
              </li>
            </ul>
          </li>

                    }
                    else
                    {
                        <li><a href='/Auth'>Login </a></li>
                    }
                </ul>
                <!-- /.container-fluid -->
            </nav>
        </header>
    </div>
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Result
                    <small>Example 2.0</small>
                </h1>
                
            </section>

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.10
        </div>
        <strong>2016 RPL Team 2</strong>
    </footer>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script>
        $('.nama').each(function () {
            $(this).html(function (index, text) {
                return text.replace('*', '');
            });
        });
    </script>
</body>
</html>
