<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Indonesian Research Citation Index</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body class="hold-transition skin-blue layout-top-nav">
    <div class="wrapper">

        <header class="main-header">
            <nav class="navbar navbar-fixed-top">
               <!-- <div class="container"> -->
                    <div class="navbar-header">
                        <a href="../../" class="navbar-brand"><b>IRCI</b></a>
                     </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
                        <form class="navbar-form navbar-left" role="search" method="post" action="/search/index">
                            <div class="form-group">
                                <input name="keyword" type="text" class="form-control" id="navbar-search-input" style="width:400px;" placeholder="Search">
                            </div>
                        </form>
                    </div>
                    
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["id"] != null)
                    {

                        @Html.Raw("<li><a href='#'></i>Logout </ a ></ li >");

                    }
                    else
                    {
                        @Html.Raw("<li><a href='/Auth'></i>Login </ a ></ li >");
                    }
                </ul>
                <!-- /.container-fluid -->
            </nav>
        </header>
    </div>
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Result
                    <small>Example 2.0</small>
                </h1>
                
            </section>

            <!-- Main content -->
            <section class="content">
                @RenderBody()
            </section>
            <!-- /.content -->
        </div>
        <!-- /.container -->
    </div>
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Script/adminlte/slimScroll/jquery.slimscroll.min.js")"></script>
    <!-- FastClick -->
    <script src="@Url.Content("~/Script/adminlte/fastclick/fastclick.min.js")"></script>
    <script src="@Url.Content("~/Script/adminlte/app.min.js")"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="@Url.Content("~/Script/adminlte/demo.js")"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
